.device-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 50vh;
    background-image: url('../img/bg5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
  
}

/* .device-bg{
    background-image: url('../img/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  
    height: 500px;
    background-size: 100%;
  
    -webkit-filter: blur(6px);
  
} */