@media only screen and (max-width: 640px) {
  #list-title {
    color: #5bc0eb;
    font-size: 20px;
    border-bottom: 1px solid #5bc0eb;
    width: 86%;
    border-top: 1px solid #5bc0eb;
    margin: auto;
    margin-top: 2vh;
  }

  #list_loading {
    height: 20vh;
    margin: 10vh 0 0 29vh;
  }

  .lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 22px;
    column-gap: 18px;
    margin: 70px;
  
  }

  .card:hover {
    background-color: #4d78a721;
  }
  
  .card {
   
    padding: 23px;
    background: #f5ebd145;
    box-shadow: 1px 1px #b7c3d4ad;  
  }

  .company_initial{
    width: 11vh;
  }

  #mobile-bookmark {
    display: block;
  }

  #desktop-bookmark{
    display: none;
  }

  #mobile-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card span {
   color: #0f5191;;
  }
}

@media only screen and (min-width: 640px) {

  .job-lists {
    background-color: #ced8e37d;
    padding: 10px;
  }
  
  #list-title{
      border-bottom: 1px solid;
      border-top: 1px solid;
      margin: auto;
      margin-top: 3%;
      width: 59%;
  }
  
  .lists {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    row-gap: 22px;
    column-gap: 18px;
    margin: 70px;
  }
  
  .card:hover {
    background-color: #4d78a721;
  }
  
  .card {
   
    padding: 23px;
    background: #f5ebd145;
    box-shadow: 1px 1px #b7c3d4ad;  
  }
  
  #title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  flex-start;
  }
  
  #title span {
    font-size: 19px;
  }
  
 
  
  #post-date {
  
    font-size: 11px;
  }
  
  .company_initial{
  border: 1px solid #00000003;
  padding: 20px;
  border-radius: 19px;
  color: #fff;
  }
  #details button {
    float: right;
    margin: 4px;
    color: #fff;
  }
  
  #details p {
    margin: 0;
  }
  
  #list_loading{
    height: 20vh;
  }
  
  #mobile-bookmark {
    display: none;
  }

  #desktop-bookmark{
    display: block;
  }
}

#title i:hover {
  color: #ff0000;
 }
