.search {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  height: 500px;
  background-size: 100%;

  -webkit-filter: blur(6px);
}

.search-box {
  color: white;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 13px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 1px 1px #073f7a;
  width: 50%;
  display: flex;
  background: #fff;
}

.search-box input {
  border: #fff;
  padding: 13px;
}

.search-box input:hover {
    border: 2px solid #fdae3f;
}

.job-lists {
  background-color: #ced8e37d;
  padding: 10px;
}

.lists {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  row-gap: 22px;
  margin: 70px;
}

.card:hover {
  background-color: #4d78a7b8;
}

.card {
  width: 83%;
  padding: 23px;
  background: #f5ebd145;
  box-shadow: 1px 1px #b7c3d4ad;  
}

#title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:  flex-start;
}

#title a {
  font-size: 19px;
}

#post-date {

  font-size: 11px;
}
#comapany_logo {
  border-radius: 100%;
  width: 18%;
}

#details button {
  float: right;
  margin: 4px;
  color: #fff;
}

